    <div >
        <header>
            <img class="logo" [src]="myimaage1">
        </header>
        <div class="bubbles">
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:15;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:28;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:15;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:28;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:15;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:28;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:15;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:28;"></span>
        </div>
        <div class="content">
            <div class="textbox">
                <h3> Hi my name is</h3>
                <h1>{{name}}</h1>
                <h2>I want to be a front-end developer</h2>
            </div>
            <div class="box">
                <img class="pic" [src]="myimaage2">
                <img class="pic2" [src]="myimaage3">
                <img class="pic3" [src]="myimaage4">
                <img class="pic4" [src]="myimaage5">
                <img class="pic5" [src]="myimaage6">
            </div>
           
    </div>
    <div class="text1">
        <h3> About Me </h3>
        <div class="text2">
            <h4>EDUCATION</h4>
            <p>B.Eng ,University of Phayao ,Information and Communication Technology ,Software Engineering (2021-now)
                <br>
                CERTIFICATE:                      
                Essential SQL For Everyone (2022-09-04)
                Serial No.cert_b|75rxv8
            </p>
            <h4>AWARD</h4>
            <p>Innovation Award for Teaching and Learning Development
               <br> and innovation in teaching and learning To enhance the quality of life of the community,
                2022 Part 2 Games-based education</p>
        </div>
    </div>
    <div class="text">
        <h3> Contact Me </h3>
    </div>
    <div class="pic8">
       <a href="https://www.facebook.com/kanok.eueikikihahalol"><img class="pic6" [src]="myimaage7"></a> 
       <a href="https://github.com/sakuro44"><img class="pic7" [src]="myimaage8"></a> 
    </div>
   
   
   
  

<router-outlet></router-outlet>
